{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<a href="{% url 'My_index' %}">Home</a>
<a href="{% url 'My_blog' %}">Blog</a>
<a href="{% url 'My_about' %}">About</a>
<a href="{% url 'My_contact' %}">Contacts</a>
<a href="{% url 'My_services' %}">Services</a>
<a href="{% url 'My_another' %}">More</a>
<h1>These is about us page</h1>
<img src="{% static 'images/image3.jpeg' %}" alt="">

</body>
</html>